<script>
	let name = 'Robby';
	let message = "hallo apa kabar ?";

	const handleClick = () =>{
		message = "bagaimana hari ini ?";
	};
</script>

<main>
	<h1>Hello {name}!</h1>
	<p>{message}</p>
	<button on:click={handleClick}>ganti pesan</button>
</main>

<style>
	main {
		text-align: center;
		padding: 1em;
		max-width: 240px;
		margin: 0 auto;
	}

	h1 {
		color: #ff3e00;
		text-transform: uppercase;
		font-size: 4em;
		font-weight: 100;
	}

	@media (min-width: 640px) {
		main {
			max-width: none;
		}
	}
</style>